<header class="flex items-center justify-between border-zinc-700/75 border-solid border-b">

  <div class="p-4 font-bold text-xl">
    <a class="hover:bg-purple-500/75 py-[2px] px-[4px] rounded-xs" href="/">Skoh's blog</a>
  </div>

  <div class="px-4 dark:stroke-white stroke-black h-[37.5px]">
    <button onclick="toggleDark()">
      <div class="cursor-pointer p-1.5 dark:bg-zinc-800/70 bg-zinc-100/70 rounded-full border dark:border-zinc-700 border-zinc-300">

        <div class="dark:hidden block">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 21 21">
            <g fill="none" fillRule="evenodd" strokeLinecap="round" strokeLinejoin="round" strokeWidth="1.5">
              <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4 0 2.219 1.781 4 4 4zM4.136 4.136 5.55 5.55m9.9 9.9 1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863 5.55 15.45m9.899-9.9 1.414-1.415M10.5 19.5v-2m0-14v-2" />
              <g transform="translate(-210 -1)">
                <path d="M220.5 2.5v2m6.5.5-1.5 1.5" />
                <circle cx="220.5" cy="11.5" r="4" />
                <path d="m214 5 1.5 1.5m5 14v-2m6.5-.5-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2" />
              </g>
            </g>
          </svg>
        </div>

        <div class="dark:block hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" strokeWidth="1.5" >
              <circle cx="12" cy="12" r="10" />
              <path d="M7.633 3.067A3.001 3.001 0 1 1 4.017 6.32M22 13.05a3.5 3.5 0 1 0-3 5.914" />
              <path strokeLinecap="round" strokeLinejoin="round" d="m14.5 8.51.01-.011M10 17a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
            </g>
          </svg>
        </div>

      </div>
    </button>
  </div>
</header>
