<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{{ config.title }}</title>
  {% endif %}

  <link rel="stylesheet" href="{{ get_url(path='css/style.css', trailing_slash=false) | safe }}" />
  <link rel="stylesheet" href="{{ get_url(path='css/tailwind.css', trailing_slash=false) | safe }}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/monaspace-krypton@5.2.5/index.min.css">
</head>

<body class="bg-(--bg-dark) text-amber-100/70 flex flex-col text-lg/7 h-screen">
  {% include "bar.html" %}
  <div class="flex-grow">
    <div>
    {% block content %} {% endblock content %}
    </div>
  </div>
  {% include "footer.html" %}
</body>

</html>
