@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-image: url("../assets/noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
}

* { transition-duration: 100ms };
